
@{
    ViewData["Title"] = "TablaPuntoMuestra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .user-icon-container {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

        .user-icon-container .icon-tabler {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .user-icon-container .page-title {
            margin-left: -4px;
            color: #a79a66;
        }

        .user-icon-container .page-title-home {
            margin-left: -4px;
            color: #a79a66;
        }

    .page-title-home {
        margin-top: 18px;
    }

</style>

@section PagePreTitle {

    <div class="col">
        <!-- Page pre-title -->
        <div class="user-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-access-point" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#a79a66" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12l0 .01" />
                <path d="M14.828 9.172a4 4 0 0 1 0 5.656" />
                <path d="M17.657 6.343a8 8 0 0 1 0 11.314" />
                <path d="M9.168 14.828a4 4 0 0 1 0 -5.656" />
                <path d="M6.337 17.657a8 8 0 0 1 0 -11.314" />
            </svg>

            <h2 class="page-title-home">
                Gestionar Puntos de Muestra
            </h2>
        </div>
    </div>


}

@section PageActions {


}

@(Html.DevExtreme().DataGrid<LBW.Models.Entity.PuntoMuestra>()
    .DataSource(ds => ds.Mvc()
        .Controller("PuntoMuestras")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .Key("IdPm")
    )
    .RemoteOperations(true)
     .Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Virtual))
    .Paging(paging => paging.Enabled(false))

    .RemoteOperations(true)
      .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search...")
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true).Width(400))
    .ShowBorders(true)
        .Paging(p => p.Enabled(false))
        .Editing(e => e.Mode(GridEditMode.Popup)

            .AllowAdding(true)
            .UseIcons(true)
            .Popup(p => p
                .Title("Gestionar Análisis")
                .ShowTitle(true)
                .Width(700)
                .Height(425)
            )
            .Form(f => f.Items(items =>
            {
                items.AddGroup()
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems =>
                    {
                        groupItems.AddSimpleFor(m => m.IdPlanta);
                        groupItems.AddSimpleFor(m => m.NamePm);
                        groupItems.AddSimpleFor(m => m.C_CodPunto);
 

                        groupItems.AddSimpleFor(m => m.Description)

                            .Editor(editor => editor.TextArea().Height(100));
                    });


            }))
        )
    .Columns(columns => {

        columns.AddFor(m => m.IdPlanta).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("PuntoMuestras").LoadAction("PlantasLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        ).Caption("Planta");

        columns.AddFor(m => m.NamePm).Caption("Punto de Muestra");


        columns.AddFor(m => m.Description).Caption("Descripción");

        columns.AddFor(m => m.C_CodPunto).Caption("Codigo");
    })
 
       
)